
#Astra{
    filter: drop-shadow(0 0 6px #6c0feb);
}
#Astra:hover{
    filter: drop-shadow(0 0 14px #6c0feb); 
}
#Breach{
    filter: drop-shadow(0 0 6px #ca5826);
}
#Breach:hover{
    filter: drop-shadow(0 0 14px #ca5826); 
}
#Brimstone{
    filter: drop-shadow(0 0 6px #f08a33);
}
#Brimstone:hover{
    filter: drop-shadow(0 0 14px #f08a33); 
}
#Chamber{
    filter: drop-shadow(0 0 6px #ffd700);
}
#Chamber:hover{
    filter: drop-shadow(0 0 14px #ffd700); 
}
#Clove{
    filter: drop-shadow(0 0 6px #d11fe9);
}
#Clove:hover{
    filter: drop-shadow(0 0 14px #d11fe9); 
}
#Cypher{
    filter: drop-shadow(0 0 6px #24fbff);
}
#Cypher:hover{
    filter: drop-shadow(0 0 14px #24fbff); 
}
#Deadlock{
    filter: drop-shadow(0 0 6px #0cb7f2);
}
#Deadlock:hover{
    filter: drop-shadow(0 0 14px #0cb7f2); 
}
#Fade{
    filter: drop-shadow(0 0 6px #1cc7de);
}
#Fade:hover{
    filter: drop-shadow(0 0 14px #1cc7de); 
}
#Gekko{
    filter: drop-shadow(0 0 6px #35fd8c);
}
#Gekko:hover{
    filter: drop-shadow(0 0 14px #35fd8c); 
}
#Harbor{
    filter: drop-shadow(0 0 6px #67c0c9);
}
#Harbor:hover{
    filter: drop-shadow(0 0 14px #67c0c9); 
}
#Iso{
    filter: drop-shadow(0 0 6px #9957bc);
}
#Iso:hover{
    filter: drop-shadow(0 0 14px #9957bc); 
}
#Jett{
    filter: drop-shadow(0 0 6px #73f5ed);
}
#Jett:hover{
    filter: drop-shadow(0 0 14px #73f5ed); 
}
#Kayo{
    filter: drop-shadow(0 0 8px #5c6ebe);
}
#Kayo:hover{
    filter: drop-shadow(0 0 16px #5c6ebe); 
}
#Killjoy{
    filter: drop-shadow(0 0 6px #68b282);
}
#Killjoy:hover{
    filter: drop-shadow(0 0 14px #68b282); 
}
#Neon{
    filter: drop-shadow(0 0 6px #0cb7f2);
}
#Neon:hover{
    filter: drop-shadow(0 0 14px #17bff7); 
}
#Omen{
    filter: drop-shadow(0 0 8px #183688);
}
#Omen:hover{
    filter: drop-shadow(0 0 14px #1cc7d3); 
}
#Phoenix{
    filter: drop-shadow(0 0 6px #ff5000);
}
#Phoenix:hover{
    filter: drop-shadow(0 0 14px #ff3c00); 
}
#Raze{
    filter: drop-shadow(0 0 6px #e75313);
}
#Raze:hover{
    filter: drop-shadow(0 0 14px #e75313); 
}
#Reyna{
    filter: drop-shadow(0 0 8px #983586);
}
#Reyna:hover{
    filter: drop-shadow(0 0 14px #c55bfc); 
}
#Sage{
    filter: drop-shadow(0 0 6px #16b199);
}
#Sage:hover{
    filter: drop-shadow(0 0 14px #3be0c3); 
}
#Skye{
    filter: drop-shadow(0 0 8px #b06042);
}
#Skye:hover{
    filter: drop-shadow(0 0 16px #b06042); 
}
#Sova{
    filter: drop-shadow(0 0 8px #1a8ae6);
}
#Sova:hover{
    filter: drop-shadow(0 0 14px #1a8ae6); 
}
#Viper{
    filter: drop-shadow(0 0 6px #078f3f);
}
#Viper:hover{
    filter: drop-shadow(0 0 14px #1cb864); 
}
#Yoru{
    filter: drop-shadow(0 0 6px #4a60b6);
}
#Yoru:hover{
    filter: drop-shadow(0 0 14px #4863cf); 
}
